@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

img{
    margin-bottom: 20px;
}

h1{
    font-family: "Young Serif";
    font-weight: 400;
    font-size: 46px;
    color: hsl(24, 5%, 18%);
}

h1.page-header {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

p{
    padding-top: 0px;
    padding-bottom: 10px;
}

body{
    display: flex;
    flex-direction: column;
    background-color: hsl(30, 54%, 90%);
    font-family: "Outfit";
    font-size: 16px;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
    padding-bottom: 200px;
}

.bold{
    font-weight:800;
}

.container{
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    flex-direction: column;
    width: 42%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 25px;
    padding: 40px;
}

.center{
    display: block;
    object-fit: cover;
    border-radius: 15px;
}

.small-container{
    background-color: hsl(330, 100%, 98%);
    display: inline-flex;
    flex-direction: column;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 25px;
    margin-bottom: 15px;
}

.small-container li::marker{
    color: hsl(332, 51%, 32%);
    font-size: 15px;
}

.list-title {
    margin-left: 5px;
    font-weight: 600;
    font-size: 24px;
    color: hsl(332, 51%, 32%);
    text-align: left;
    padding-top:10px;
}

li {
    padding: 5px;
    padding-left: 2em;
    margin-left: -1em;

}

h2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Young Serif";
    font-size: 28px;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
}

.list2 li::marker{
    color: hsl(14, 45%, 36%);
    font-size: 15px;
}

.list2 li {
    padding: 5px;
    padding-left: 2em;
    margin-left: -0.5em;

}

.ln{
    width:100%; 
    height:2px; 
    background: hsl(30, 18%, 87%);
    margin-top: 10px;
    margin-bottom: 10px;
}

.list3 li::marker{
    color: hsl(14, 45%, 36%);
    font-size: 15px;
    font-weight: 800;
}

.list3 li{
    margin-left: -1em;
    padding-left: 1em;
    line-height: 1.5em;
}


table{
    border-collapse: collapse;
    margin-top: 10px;
}
tr{ 
    border: solid;
    border-width: 2px 0;
    border-color: rgb(0, 0, 0, 10%);
    padding: 10px;
}
tr:first-child {
    border-top: none;
}
tr:last-child {
    border-bottom: none;
}
td{
    padding: 15px;
}
.type{
    color: hsl(24, 5%, 18%);
}
.quant{
    font-weight: 800;
    color: hsl(14, 45%, 36%);
}